*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans";
}

html, body{
    height: 100%;
    width: 100%;
}  

#main {
    width: 100%;
    background-color: black;
}

#minicircle {
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.bounding {
    width: fit-content;
    overflow: hidden;
}

.bounding .boundingelem {
    transform: translateY(100%);
}

#hero {
    color: white;
    width: 100%;
    height: 100vh;
    background-color: black;
    position: relative;
}

#nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 2.5vw;
    font-size: 1.2vw;
}

#nav a{
    text-decoration: none;
    font-weight: 500;
    color: white;
}

#heading {
    margin-top: 2.8vw;
}

#heading h1{
    margin-left: 3vw;
    font-size: 10vw;
    text-transform: uppercase;
    line-height: 0.9;
    opacity: .6;
}

#heading #secondh1 {
    margin-left: 14vw;
}

.blocktext{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.blocktext h5{
    text-align: right;
    text-transform: uppercase;
    font-size: 1.1vw;
    line-height: 3;
}

#smallHeading{
    margin-top: 10vw;
    padding-right: 4vw;
    display: flex;
    flex-direction: column;
    align-items: end;
}

#smallHeading h5{
    text-transform: uppercase;
    font-size: 1vw;
    text-align: right;
    margin-top: .5vw;
}

#herofooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 5%;
    width: 100%;
    padding: 0 2.5vw;
    font-size: 1vw;
}

#herofooter a{
    font-family: "General Sans Medium";
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;

}

#herofooter #iconset{
    display: flex;
    gap: .5vw;
    color: black;
    font-weight: 600;
}

#herofooter .circle{
    width: 1.8vw;
    height: 1.8vw;
    border-radius: 50%;
    background-color: #888;
    display: flex;
    align-items: center;
    justify-content: center;
}

#second{
    color: #fff;
    padding-right: 3vw;
    padding-left: 3vw;
    padding-top: 10vw;
    background-color: black;
    width: 100%;
    height: 100vh;
}

.elem {
    width: 100%;
    border-top: 1px solid #888;
    padding: 3.8vw 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0;
    position: relative;
}

.elem h1 {
    text-transform: uppercase;
    font-size: 6vw;
    opacity: .7;
}

 .elemlast {
    border-bottom: 1px solid #888;
}

.elem h5 {
    font-size: 1.8vw;   

}


.elem img {
   position: absolute;
   z-index: 999;
   height: 140%;
   display: none;
}

#about {
    display: flex;
    align-items: center;
    gap: 5vw;
    color: #fff;
    padding: 24vw 10vw;
    padding-left: 35vw;
    padding-bottom: 10vw;
    width: 100%;
    background-color: black;
}

#about img {
    width: 200px;
}

#textAbout {
    width: 25rem;
}

#textAbout h5{
    text-transform: uppercase;
    opacity: .6;
    margin-bottom: 10px;
}

#textAbout p {
    line-height: 1.7;
    margin-bottom: 30px;
}

#textAbout a {
    text-decoration: none;
    color: #fff;
    padding: 5px 15px;
    border: 1px solid #fff;
    border-radius: 150px;
}

#subscribe {
    color: #fff;
    padding: 10px 30px;
    padding-bottom: 7vw;
    background-color: black;
}

#subscribe h5 {
    text-transform: uppercase;
    opacity: .6;
}

#subscribe h3 {
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
}

#footer {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 3vw;
    /* padding-bottom: 5vw; */
    background-color: black;
}

#footerleft, #footerright {
    font-size: 1.2vw;
    display: flex;
    gap: 50px;
}


#footerright a{
    font-family: "General Sans Medium";
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}